/* ** content styles */

BODY {
	margin: 0px; 
	padding: 0px;
	background-color: #FFF;
}

DIV.title {
	margin: 0px; 
	padding: 0px;
	background-color: #DADAFA;
	font-family: Times, Verdana, Arial, Helvetica, sans-serif;
}

H1 {
	margin-top: 0px;
	padding-top:10px;
	margin-left: 36px;
	font-size: 24pt;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

DIV.title-date {
	font-size: 16pt;
	font-weight: bold;
	margin-left: 36px;
}
DIV.title-inst {
	font-size: 16pt;
	font-weight: regular;
	margin-top: 4px;
	margin-left: 36px;
}

DIV.content-wrap {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 18px;
	margin-bottom: 12px;
}


/* headlines */

H2 {
	font-family: Times, serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	
}


P.Venue {
	font-family: Times, serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 4px;
}


DIV.content-head {
	background-color: #BFB489;
	padding: 1px 1px;
}
DIV.content-head H3 {
	font-family: Times, serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	margin: 0px;
}


/* text & lists */

P, UL, OL {
	font-family: Times, serif, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}

UL.big{ 

font-family: Times, serif, Verdana, Arial, Helvetica, sans-serif;
font-size: 12pt;
font-weight: bold;
}

UL.medium{ 

font-family: Times, serif, Verdana, Arial, Helvetica, sans-serif;
font-size: 12pt;
}

TABLE.content-list {
	margin-top: 0px;
	margin-bottom: 0px;
}

TABLE.content-list TD {
	font-family: Times, serif,Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding-bottom: 2px;
}


/* definition list of SPEAKERS */

DL.speakers { 
	margin-left: 32px;
	margin-bottom: 46px;
	margin-top: 8px;
}
DL.speakers DT { 
	font-size: 12pt;
	font-weight: bold;
}
DL.speakers DD { 
	font-size: 12pt;
	font-weight: normal;
	margin-bottom: 6px;
}


/* content footer */

DIV.content-wrap HR {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 1px;
	color: #000;
	border-top-color: #FFF;
	-border-top-color: #000;
	border-style: solid;
}

P.content-footer {
	margin-top: 0px;
	padding-top: 0px;
	font-style: italic;
}

/* --- */
