
body{ background-color: #ffffee } 
body{ margin-left: 10px; } 
p { color: blue; } 
p { margin-left: 10px; } 
p.ppm { color: black; } 
p.ppm { margin-left: 10px; } 
h3{ color: white; }

h1 {color: blue; }
h1 {font-family: Verdana,
Arial, Sans-serif;}
.my {color: red;}
.head1 {font-family: Verdana,
Arial, Sans-serif;}
.head1{font-size: x-small;}

