/*  dddde9 replaces 9596ff */

body {
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  /* background: #ffffff url(/icons/bg-blue.gif); */
  color: #000000;
  padding: 0;
}

table {
  width: 100%;
  padding: 0;
  border: 0;
  vertical-align: top;
}
table tr{
  vertical-align: top;
}

#header td {
  background-color: #000000;
}

#header-left{
}

td#header-fill{
}

#header-right{
}

.navbar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-decoration: none;
	line-height: 25px;
	background-color: #cbccda;
}

.navleft {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
td.navleft {
	vertical-align: top;
	width: 170px;
	background-color: #b0c4de;
	border-right: 1px solid #a0b4ce;
	padding-right: 10px;
	padding-top: 10px;
}
.navleft ul {
	margin-left: 0;
	padding-left: 15px;
}
.navleft li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	list-style-position: outside;
	list-style: none; 
	color: #000000;
	background-color: #b0c4de;
	
}
.navleft a:link, .navleft a:visited, .navleft a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: normal;
	text-decoration:none;
	color: #000000;
	background-color: #b0c4de;
}
.navleft a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: normal;
	text-decoration:underline;
	color: #000000;
	background-color: #b0c4de;
}

.navleft_head ul {
	margin-left: 0;
	padding-left: 15px;
}
.navleft_head li {
	list-style-position: outside;
	list-style: disc;
}
.navleft_head {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	list-style-position: outside;
	list-style: none; 
	display: block;
	color: #000000;
	background-color: #b0c4de;
}

/* ---------------------------------------------
 */

#content {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
	background-color: #FFFFFF;
	color: #000000;
}
td#content{
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
}


#news{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	vertical-align: top;
	background-color: #FFFFFF;
	color: #000000;
}
td#news{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0px 15px;
}


#events{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: top;
	background-color: #FFFFFF;
	color: #000000;
}
td#events{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 25%;
	padding: 0px 15px;
	border-left: 1px solid #a0b4ce;
}

/* ---------------------------------------------
 */

.footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal; 
	color: #000000;
	background-color:#cbccda;
}
.footer td {
	padding: 8px;
	text-align: center;
}
.footer a:link, .footer a:visited, .footer a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal; 
	color: #000000;
	background-color:#cbccda;
	text-decoration:none; 
}
.footer a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal; 
	color: #000000;
	background-color:#cbccda;
	text-decoration:underline;
}


/* ---------------------------------------------
 */

#search {
	align:center;
	margin-left:15px;
}
table#search {
	cellspacing: 0;
	cellpadding: 0;
}


/* ---------------------------------------------
 * Properties of the staff list table
 * ---------------------------------------------
 */
#stafflist{
}

#stafflist th{
  background:#525D76;
  text-align:left;
  color:#ffffff;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 0.8em; */
}

.hi {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 0.8em; */
}
.lo {
  background: #ddddff;
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 0.8em; */
}


/*
 -------------------------------------------------------------------------
 */

.navigation_location {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 25px;
	background-color: #cbccda;
}

.navigation_left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #003333;
	background-color: #ffb400;
}
.navigation_right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color: #ffffff;
}

.navigation_right li	
{
list-style: none; 
border-bottom: 1px dotted gray; 
padding-bottom: 4px;
padding-top: 4px;
}

.body_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	color: #000000;
}
.heading_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
	font-weight: bold;
	background-color:#FFFFFF
}
a.intranet_navigation_right:link {
	text-decoration:none;
	color: #666666;
}
a.intranet_navigation_right:active {
	text-decoration:none; 
	color: #666666;
}
a.intranet_navigation_right:hover {
	text-decoration:none; 	
	color: #666666;
}
a.intranet_navigation_right:visited {
	text-decoration:none; 
	color: #666666;
}
a.footer_link:link {
	color: #000000; 
	font-weight: normal; 
	text-decoration:none; 
	background-color:#cbccda;
}
a.footer_link:active {
	color: #000000; 
	font-weight: normal; 
	text-decoration:none;
	background-color:#cbccda;
	}
a.footer_link:visited {
	color: #000000;
	font-weight: normal;
	text-decoration:none;
	background-color: #cbccda;
}
a.footer_link:hover {
	color: #000000;
	font-weight: normal;
	text-decoration: underline;
	background-color: #cbccda;
}

a.white_navigation_link:link {
	color: #003333;
	font-weight: normal;
	text-decoration:none;
	font-size:12px;
	background-color: #ffb400;
}
a.white_navigation_link:active {
	color: #003333;
	font-weight: normal;
	text-decoration:none;
	font-size:12px;
	background-color: #ffb400;
}
a.white_navigation_link:visited {
	color: #003333;
	font-weight: normal;
	text-decoration:none;
	font-size:12px;
	background-color: #ffb400;
}
a.white_navigation_link:hover {
	color: #003333;
	font-weight: normal;
	text-decoration: underline;
	font-size:12px;
	background-color: #ffb400;
}
.footer_text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	background-color:#cbccda;
}
.sub_heading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
}

p.top {font-family: "arial"}
p.top {font-size: 18pt}
p.top {color: #336600}

div.top {font-family: "arial"}
div.top {font-size: 18pt}
div.top {color: #336600}

p.PGemph{font-family: "arial"}
p.PGemph{font-size: 16pt}
p.PGemph{color: #336600}

.style2 {
        color: #000000;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
}
