<head>
<script type="text/javascript" src="../common/LaTeXMathML.js"></script>
<link rel="stylesheet" type="text/css" href="../common/LaTeXMathML.standardartic
le.css" />


<script type="text/javascript">
<!--
function switchMenu(obj) {
        var el = document.getElementById(obj);
        if ( el.style.display != "none" ) {
                el.style.display = 'none';
        }
        else {
                el.style.display = '';
        }
}
//-->
</script>


<title> E.G. Research Background Pages</title>
</head>
<HTML>


<BODY BGCOLOR=white TEXT=black>
 
 --- HTML HERE ---

\section{Intro}

</BODY>
</HTML>
